<head> <title>OpenRGB Supported Devices</title><meta charset="utf-8"/><meta name="description" content="Open source RGB lighting control that doesn't depend on manufacturer software"/><!--OpenGraph Tags--><meta property="og:image" content="../../../static/favicon/og-image.jpg"/><meta property="og:image:width" content="211"/><meta property="og:image:height" content="211"/><meta property="og:description" content="Open source RGB lighting control that doesn't depend on manufacturer software"/><meta property="og:title" content="OpenRGB"/><meta property="og:url" content="https://openrgb.org"/><!-- Favicon--><link rel="apple-touch-icon" sizes="180x180" href="../../../static/favicon/apple-touch-icon.png"/><link rel="icon" type="image/png" sizes="32x32" href="../../../static/favicon/favicon-32x32.png"/><link rel="icon" type="image/png" sizes="16x16" href="../../../static/favicon/favicon-16x16.png"/><link rel="manifest" href="../../../static/favicon/site.webmanifest"/><link rel="mask-icon" href="../../../static/favicon/safari-pinned-tab.svg" color="#00d084"/><link rel="shortcut icon" href="../../../static/favicon/favicon.ico"/><meta name="msapplication-TileColor" content="#00d084"/><meta name="msapplication-config" content="../../../static/favicon/browserconfig.xml"/><meta name="theme-color" content="#00d084"/><link rel="stylesheet" href="../../css/devices.styl"/><script src="../../../node_modules/jquery/dist/jquery.min.js"></script><script src="../../js/controller.js"></script></head><h1 id="asus-aura-mouse">Asus Aura Mouse</h1>
<h2 id="connection-type">Connection Type</h2>
<p> USB</p>
<h2 id="saving">Saving</h2>
<p> Saving is supported by this controller</p>
<h2 id="direct-mode">Direct Mode</h2>
<p> Direct control is supported for Software Effects</p>
<h2 id="hardware-effects">Hardware Effects</h2>
<p> Hardware effects are supported</p>
<h2 id="device-list">Device List</h2>
<table>
<thead>
<tr>
<th align="center">Vendor ID</th>
<th align="center">Product ID</th>
<th align="left">Device Name</th>
</tr>
</thead>
<tbody><tr>
<td align="center"><code>0B05</code></td>
<td align="center"><code>18DD</code></td>
<td align="left">ASUS ROG Gladius II Core</td>
</tr>
<tr>
<td align="center"><code>0B05</code></td>
<td align="center"><code>1845</code></td>
<td align="left">ASUS ROG Gladius II</td>
</tr>
<tr>
<td align="center"><code>0B05</code></td>
<td align="center"><code>1877</code></td>
<td align="left">ASUS ROG Gladius II Origin</td>
</tr>
<tr>
<td align="center"><code>0B05</code></td>
<td align="center"><code>18CD</code></td>
<td align="left">ASUS ROG Gladius II Origin PNK LTD</td>
</tr>
<tr>
<td align="center"><code>0B05</code></td>
<td align="center"><code>18B1</code></td>
<td align="left">ASUS ROG Gladius II Origin COD</td>
</tr>
<tr>
<td align="center"><code>0B05</code></td>
<td align="center"><code>189E</code></td>
<td align="left">ASUS ROG Gladius II Wireless</td>
</tr>
<tr>
<td align="center"><code>0B05</code></td>
<td align="center"><code>18A0</code></td>
<td align="left">ASUS ROG Gladius II Wireless</td>
</tr>
<tr>
<td align="center"><code>0B05</code></td>
<td align="center"><code>197B</code></td>
<td align="left">ASUS ROG Gladius III</td>
</tr>
<tr>
<td align="center"><code>0B05</code></td>
<td align="center"><code>197D</code></td>
<td align="left">ASUS ROG Gladius III Wireless USB</td>
</tr>
<tr>
<td align="center"><code>0B05</code></td>
<td align="center"><code>197F</code></td>
<td align="left">ASUS ROG Gladius III Wireless 2.4Ghz</td>
</tr>
<tr>
<td align="center"><code>0B05</code></td>
<td align="center"><code>1981</code></td>
<td align="left">ASUS ROG Gladius III Wireless Bluetooth</td>
</tr>
<tr>
<td align="center"><code>0B05</code></td>
<td align="center"><code>18E5</code></td>
<td align="left">ASUS ROG Chakram (Wireless)</td>
</tr>
<tr>
<td align="center"><code>0B05</code></td>
<td align="center"><code>18E3</code></td>
<td align="left">Asus ROG Chakram (Wired)</td>
</tr>
<tr>
<td align="center"><code>0B05</code></td>
<td align="center"><code>1958</code></td>
<td align="left">Asus ROG Chakram Core</td>
</tr>
<tr>
<td align="center"><code>0B05</code></td>
<td align="center"><code>1846</code></td>
<td align="left">ASUS ROG Pugio</td>
</tr>
<tr>
<td align="center"><code>0B05</code></td>
<td align="center"><code>1906</code></td>
<td align="left">ASUS ROG Pugio II (Wired)</td>
</tr>
<tr>
<td align="center"><code>0B05</code></td>
<td align="center"><code>1908</code></td>
<td align="left">ASUS ROG Pugio II (Wireless)</td>
</tr>
<tr>
<td align="center"><code>0B05</code></td>
<td align="center"><code>1847</code></td>
<td align="left">ASUS ROG Strix Impact</td>
</tr>
<tr>
<td align="center"><code>0B05</code></td>
<td align="center"><code>18E1</code></td>
<td align="left">ASUS ROG Strix Impact II</td>
</tr>
<tr>
<td align="center"><code>0B05</code></td>
<td align="center"><code>189E</code></td>
<td align="left">ASUS ROG Strix Impact II Gundam</td>
</tr>
<tr>
<td align="center"><code>0B05</code></td>
<td align="center"><code>1956</code></td>
<td align="left">ASUS ROG Strix Impact II Electro Punk</td>
</tr>
<tr>
<td align="center"><code>0B05</code></td>
<td align="center"><code>19D2</code></td>
<td align="left">ASUS ROG Strix Impact II Moonlight White</td>
</tr>
<tr>
<td align="center"><code>0B05</code></td>
<td align="center"><code>1947</code></td>
<td align="left">ASUS ROG Strix Impact II Wireless USB</td>
</tr>
<tr>
<td align="center"><code>0B05</code></td>
<td align="center"><code>1949</code></td>
<td align="left">ASUS ROG Strix Impact II Wireless 2.4 Ghz</td>
</tr>
<tr>
<td align="center"><code>0B05</code></td>
<td align="center"><code>195C</code></td>
<td align="left">ASUS ROG Keris</td>
</tr>
<tr>
<td align="center"><code>0B05</code></td>
<td align="center"><code>195E</code></td>
<td align="left">ASUS ROG Keris Wireless USB</td>
</tr>
<tr>
<td align="center"><code>0B05</code></td>
<td align="center"><code>1960</code></td>
<td align="left">ASUS ROG Keris Wireless 2.4Ghz</td>
</tr>
<tr>
<td align="center"><code>0B05</code></td>
<td align="center"><code>1962</code></td>
<td align="left">ASUS ROG Keris Wireless Bluetooth</td>
</tr>
<tr>
<td align="center"><code>0B05</code></td>
<td align="center"><code>1910</code></td>
<td align="left">ASUS TUF Gaming M3</td>
</tr>
<tr>
<td align="center"><code>0B05</code></td>
<td align="center"><code>1898</code></td>
<td align="left">ASUS TUF Gaming M5</td>
</tr>
</tbody></table>
