<head> <title>OpenRGB Supported Devices</title><meta charset="utf-8"/><meta name="description" content="Open source RGB lighting control that doesn't depend on manufacturer software"/><!--OpenGraph Tags--><meta property="og:image" content="../../../static/favicon/og-image.jpg"/><meta property="og:image:width" content="211"/><meta property="og:image:height" content="211"/><meta property="og:description" content="Open source RGB lighting control that doesn't depend on manufacturer software"/><meta property="og:title" content="OpenRGB"/><meta property="og:url" content="https://openrgb.org"/><!-- Favicon--><link rel="apple-touch-icon" sizes="180x180" href="../../../static/favicon/apple-touch-icon.png"/><link rel="icon" type="image/png" sizes="32x32" href="../../../static/favicon/favicon-32x32.png"/><link rel="icon" type="image/png" sizes="16x16" href="../../../static/favicon/favicon-16x16.png"/><link rel="manifest" href="../../../static/favicon/site.webmanifest"/><link rel="mask-icon" href="../../../static/favicon/safari-pinned-tab.svg" color="#00d084"/><link rel="shortcut icon" href="../../../static/favicon/favicon.ico"/><meta name="msapplication-TileColor" content="#00d084"/><meta name="msapplication-config" content="../../../static/favicon/browserconfig.xml"/><meta name="theme-color" content="#00d084"/><link rel="stylesheet" href="../../css/devices.styl"/><script src="../../../node_modules/jquery/dist/jquery.min.js"></script><script src="../../js/controller.js"></script></head><h1 id="evga-rgb-v3-gpu">EVGA RGB v3 GPU</h1>
<p> EVGA has not exposed a per LED control method yet so OpenRGB
is only able to set all LED&#39;s to a single color.</p>
<h2 id="connection-type">Connection Type</h2>
<p> I2C</p>
<h2 id="saving">Saving</h2>
<p> Saving is supported by this controller</p>
<h2 id="direct-mode">Direct Mode</h2>
<p> Direct control is supported for Software Effects</p>
<h2 id="hardware-effects">Hardware Effects</h2>
<p> Hardware effects are supported</p>
<h2 id="device-list">Device List</h2>
<table>
<thead>
<tr>
<th align="center">Vendor &amp;<br/>Device ID</th>
<th align="center">Sub-Vendor &amp;<br/>Product ID</th>
<th align="left">Device Name</th>
</tr>
</thead>
<tbody><tr>
<td align="center"><code>10DE:2486</code></td>
<td align="center"><code>3842:3665</code></td>
<td align="left">EVGA GeForce RTX 3060TI FTW3 Gaming</td>
</tr>
<tr>
<td align="center"><code>10DE:2486</code></td>
<td align="center"><code>3842:3667</code></td>
<td align="left">EVGA GeForce RTX 3060TI FTW3 Ultra</td>
</tr>
<tr>
<td align="center"><code>10DE:2489</code></td>
<td align="center"><code>3842:4667</code></td>
<td align="left">EVGA GeForce RTX 3060TI FTW3 Ultra LHR</td>
</tr>
<tr>
<td align="center"><code>10DE:2484</code></td>
<td align="center"><code>3842:3751</code></td>
<td align="left">EVGA GeForce RTX 3070 Black Gaming</td>
</tr>
<tr>
<td align="center"><code>10DE:2484</code></td>
<td align="center"><code>3842:3753</code></td>
<td align="left">EVGA GeForce RTX 3070 XC3 Gaming</td>
</tr>
<tr>
<td align="center"><code>10DE:2484</code></td>
<td align="center"><code>3842:3755</code></td>
<td align="left">EVGA GeForce RTX 3070 XC3 Ultra</td>
</tr>
<tr>
<td align="center"><code>10DE:2488</code></td>
<td align="center"><code>3842:4755</code></td>
<td align="left">EVGA GeForce RTX 3070 XC3 Ultra LHR</td>
</tr>
<tr>
<td align="center"><code>10DE:2484</code></td>
<td align="center"><code>3842:3767</code></td>
<td align="left">EVGA GeForce RTX 3070 FTW3 Ultra</td>
</tr>
<tr>
<td align="center"><code>10DE:2488</code></td>
<td align="center"><code>3842:4767</code></td>
<td align="left">EVGA GeForce RTX 3070 FTW3 Ultra LHR</td>
</tr>
<tr>
<td align="center"><code>10DE:2482</code></td>
<td align="center"><code>3842:3783</code></td>
<td align="left">EVGA GeForce RTX 3070Ti XC3 Gaming</td>
</tr>
<tr>
<td align="center"><code>10DE:2482</code></td>
<td align="center"><code>3842:3785</code></td>
<td align="left">EVGA GeForce RTX 3070Ti XC3 Ultra</td>
</tr>
<tr>
<td align="center"><code>10DE:2482</code></td>
<td align="center"><code>3842:3485</code></td>
<td align="left">EVGA GeForce RTX 3070Ti XC3 Ultra v2</td>
</tr>
<tr>
<td align="center"><code>10DE:2482</code></td>
<td align="center"><code>3842:3797</code></td>
<td align="left">EVGA GeForce RTX 3070Ti FTW3 Ultra</td>
</tr>
<tr>
<td align="center"><code>10DE:2482</code></td>
<td align="center"><code>3842:3497</code></td>
<td align="left">EVGA GeForce RTX 3070Ti FTW3 Ultra v2</td>
</tr>
<tr>
<td align="center"><code>10DE:2206</code></td>
<td align="center"><code>3842:3881</code></td>
<td align="left">EVGA GeForce RTX 3080 XC3 Black</td>
</tr>
<tr>
<td align="center"><code>10DE:2216</code></td>
<td align="center"><code>3842:4881</code></td>
<td align="left">EVGA GeForce RTX 3080 XC3 Black LHR</td>
</tr>
<tr>
<td align="center"><code>10DE:2206</code></td>
<td align="center"><code>3842:3883</code></td>
<td align="left">EVGA GeForce RTX 3080 XC3 Gaming</td>
</tr>
<tr>
<td align="center"><code>10DE:2216</code></td>
<td align="center"><code>3842:4883</code></td>
<td align="left">EVGA GeForce RTX 3080 XC3 Gaming LHR</td>
</tr>
<tr>
<td align="center"><code>10DE:2206</code></td>
<td align="center"><code>3842:3885</code></td>
<td align="left">EVGA GeForce RTX 3080 XC3 Ultra</td>
</tr>
<tr>
<td align="center"><code>10DE:2216</code></td>
<td align="center"><code>3842:4885</code></td>
<td align="left">EVGA GeForce RTX 3080 XC3 Ultra LHR</td>
</tr>
<tr>
<td align="center"><code>10DE:2206</code></td>
<td align="center"><code>3842:3888</code></td>
<td align="left">EVGA GeForce RTX 3080 XC3 Ultra Hybrid</td>
</tr>
<tr>
<td align="center"><code>10DE:2216</code></td>
<td align="center"><code>3842:4888</code></td>
<td align="left">EVGA GeForce RTX 3080 XC3 Ultra Hybrid LHR</td>
</tr>
<tr>
<td align="center"><code>10DE:2206</code></td>
<td align="center"><code>3842:3889</code></td>
<td align="left">EVGA GeForce RTX 3080 XC3 Ultra Hydro Copper</td>
</tr>
<tr>
<td align="center"><code>10DE:2206</code></td>
<td align="center"><code>3842:3895</code></td>
<td align="left">EVGA GeForce RTX 3080 FTW3 Gaming</td>
</tr>
<tr>
<td align="center"><code>10DE:2206</code></td>
<td align="center"><code>3842:3897</code></td>
<td align="left">EVGA GeForce RTX 3080 FTW3 Ultra</td>
</tr>
<tr>
<td align="center"><code>10DE:2216</code></td>
<td align="center"><code>3842:4297</code></td>
<td align="left">EVGA GeForce RTX 3080 FTW3 Ultra v2 LHR</td>
</tr>
<tr>
<td align="center"><code>10DE:220A</code></td>
<td align="center"><code>3842:4877</code></td>
<td align="left">EVGA GeForce RTX 3080 FTW3 Ultra 12GB</td>
</tr>
<tr>
<td align="center"><code>10DE:2216</code></td>
<td align="center"><code>3842:4897</code></td>
<td align="left">EVGA GeForce RTX 3080 FTW3 Ultra LHR</td>
</tr>
<tr>
<td align="center"><code>10DE:2206</code></td>
<td align="center"><code>3842:3898</code></td>
<td align="left">EVGA GeForce RTX 3080 FTW3 Ultra Hybrid</td>
</tr>
<tr>
<td align="center"><code>10DE:2216</code></td>
<td align="center"><code>3842:4898</code></td>
<td align="left">EVGA GeForce RTX 3080 FTW3 Ultra Hybrid LHR</td>
</tr>
<tr>
<td align="center"><code>10DE:220A</code></td>
<td align="center"><code>3842:4878</code></td>
<td align="left">EVGA GeForce RTX 3080 FTW3 Ultra Hybrid Gaming LHR</td>
</tr>
<tr>
<td align="center"><code>10DE:2206</code></td>
<td align="center"><code>3842:3899</code></td>
<td align="left">EVGA GeForce RTX 3080 FTW3 Ultra Hydro Copper</td>
</tr>
<tr>
<td align="center"><code>10DE:220A</code></td>
<td align="center"><code>3842:4879</code></td>
<td align="left">EVGA GeForce RTX 3080 FTW3 Ultra Hydro Copper 12G</td>
</tr>
<tr>
<td align="center"><code>10DE:2208</code></td>
<td align="center"><code>3842:3953</code></td>
<td align="left">EVGA GeForce RTX 3080Ti XC3 Gaming</td>
</tr>
<tr>
<td align="center"><code>10DE:2208</code></td>
<td align="center"><code>3842:3955</code></td>
<td align="left">EVGA GeForce RTX 3080Ti XC3 Ultra Gaming</td>
</tr>
<tr>
<td align="center"><code>10DE:2208</code></td>
<td align="center"><code>3842:3958</code></td>
<td align="left">EVGA GeForce RTX 3080Ti XC3 Gaming Hybrid</td>
</tr>
<tr>
<td align="center"><code>10DE:2208</code></td>
<td align="center"><code>3842:3959</code></td>
<td align="left">EVGA GeForce RTX 3080Ti XC3 Gaming Hydro Copper</td>
</tr>
<tr>
<td align="center"><code>10DE:2208</code></td>
<td align="center"><code>3842:3967</code></td>
<td align="left">EVGA GeForce RTX 3080Ti FTW3 Ultra</td>
</tr>
<tr>
<td align="center"><code>10DE:2208</code></td>
<td align="center"><code>3842:3968</code></td>
<td align="left">EVGA GeForce RTX 3080Ti FTW3 Ultra Hybrid</td>
</tr>
<tr>
<td align="center"><code>10DE:2208</code></td>
<td align="center"><code>3842:3969</code></td>
<td align="left">EVGA GeForce RTX 3080Ti FTW3 Ultra Hydro Copper</td>
</tr>
<tr>
<td align="center"><code>10DE:2204</code></td>
<td align="center"><code>3842:3971</code></td>
<td align="left">EVGA GeForce RTX 3090 XC3 Black</td>
</tr>
<tr>
<td align="center"><code>10DE:2204</code></td>
<td align="center"><code>3842:3973</code></td>
<td align="left">EVGA GeForce RTX 3090 XC3 Gaming</td>
</tr>
<tr>
<td align="center"><code>10DE:2204</code></td>
<td align="center"><code>3842:3975</code></td>
<td align="left">EVGA GeForce RTX 3090 XC3 Ultra</td>
</tr>
<tr>
<td align="center"><code>10DE:2204</code></td>
<td align="center"><code>3842:3978</code></td>
<td align="left">EVGA GeForce RTX 3090 XC3 Ultra Hybrid</td>
</tr>
<tr>
<td align="center"><code>10DE:2204</code></td>
<td align="center"><code>3842:3979</code></td>
<td align="left">EVGA GeForce RTX 3090 XC3 Ultra Hydro Copper</td>
</tr>
<tr>
<td align="center"><code>10DE:2204</code></td>
<td align="center"><code>3842:3987</code></td>
<td align="left">EVGA GeForce RTX 3090 FTW3 Ultra</td>
</tr>
<tr>
<td align="center"><code>10DE:2204</code></td>
<td align="center"><code>3842:3982</code></td>
<td align="left">EVGA GeForce RTX 3090 FTW3 Ultra v2</td>
</tr>
<tr>
<td align="center"><code>10DE:2204</code></td>
<td align="center"><code>3842:3387</code></td>
<td align="left">EVGA GeForce RTX 3090 FTW3 Ultra v3</td>
</tr>
<tr>
<td align="center"><code>10DE:2204</code></td>
<td align="center"><code>3842:3988</code></td>
<td align="left">EVGA GeForce RTX 3090 FTW3 Ultra Hybrid</td>
</tr>
<tr>
<td align="center"><code>10DE:2204</code></td>
<td align="center"><code>3842:3989</code></td>
<td align="left">EVGA GeForce RTX 3090 FTW3 Ultra Hydro Copper</td>
</tr>
<tr>
<td align="center"><code>10DE:2204</code></td>
<td align="center"><code>3842:3998</code></td>
<td align="left">EVGA GeForce RTX 3090 K|NGP|N Hybrid</td>
</tr>
<tr>
<td align="center"><code>10DE:2204</code></td>
<td align="center"><code>3842:3999</code></td>
<td align="left">EVGA GeForce RTX 3090 K|NGP|N Hydro Copper</td>
</tr>
<tr>
<td align="center"><code>10DE:2203</code></td>
<td align="center"><code>3842:4983</code></td>
<td align="left">EVGA GeForce RTX 3090Ti FTW3 Gaming</td>
</tr>
<tr>
<td align="center"><code>10DE:2203</code></td>
<td align="center"><code>3842:4985</code></td>
<td align="left">EVGA GeForce RTX 3090Ti FTW3 Ultra Gaming</td>
</tr>
</tbody></table>
