<head> <title>OpenRGB Supported Devices</title><meta charset="utf-8"/><meta name="description" content="Open source RGB lighting control that doesn't depend on manufacturer software"/><!--OpenGraph Tags--><meta property="og:image" content="../../../static/favicon/og-image.jpg"/><meta property="og:image:width" content="211"/><meta property="og:image:height" content="211"/><meta property="og:description" content="Open source RGB lighting control that doesn't depend on manufacturer software"/><meta property="og:title" content="OpenRGB"/><meta property="og:url" content="https://openrgb.org"/><!-- Favicon--><link rel="apple-touch-icon" sizes="180x180" href="../../../static/favicon/apple-touch-icon.png"/><link rel="icon" type="image/png" sizes="32x32" href="../../../static/favicon/favicon-32x32.png"/><link rel="icon" type="image/png" sizes="16x16" href="../../../static/favicon/favicon-16x16.png"/><link rel="manifest" href="../../../static/favicon/site.webmanifest"/><link rel="mask-icon" href="../../../static/favicon/safari-pinned-tab.svg" color="#00d084"/><link rel="shortcut icon" href="../../../static/favicon/favicon.ico"/><meta name="msapplication-TileColor" content="#00d084"/><meta name="msapplication-config" content="../../../static/favicon/browserconfig.xml"/><meta name="theme-color" content="#00d084"/><link rel="stylesheet" href="../../css/devices.styl"/><script src="../../../node_modules/jquery/dist/jquery.min.js"></script><script src="../../js/controller.js"></script></head><h1 id="gigabyte-fusion-2-gpu">Gigabyte Fusion 2 GPU</h1>
<h2 id="connection-type">Connection Type</h2>
<p> I2C</p>
<h2 id="saving">Saving</h2>
<p> Saving is supported by this controller</p>
<h2 id="direct-mode">Direct Mode</h2>
<p> Direct control is supported for Software Effects</p>
<h2 id="hardware-effects">Hardware Effects</h2>
<p> Hardware effects are supported</p>
<h2 id="device-list">Device List</h2>
<table>
<thead>
<tr>
<th align="center">Vendor &amp;<br/>Device ID</th>
<th align="center">Sub-Vendor &amp;<br/>Product ID</th>
<th align="left">Device Name</th>
</tr>
</thead>
<tbody><tr>
<td align="center"><code>10DE:1F06</code></td>
<td align="center"><code>1458:3FF7</code></td>
<td align="left">Gigabyte AORUS RTX2060 SUPER 8G V1</td>
</tr>
<tr>
<td align="center"><code>10DE:1F07</code></td>
<td align="center"><code>1458:37B4</code></td>
<td align="left">Gigabyte AORUS RTX2070 XTREME 8G</td>
</tr>
<tr>
<td align="center"><code>10DE:1E84</code></td>
<td align="center"><code>1458:3FF6</code></td>
<td align="left">Gigabyte AORUS RTX2070 SUPER 8G</td>
</tr>
<tr>
<td align="center"><code>10DE:1E84</code></td>
<td align="center"><code>1458:3FF5</code></td>
<td align="left">Gigabyte AORUS RTX2070 SUPER 8G</td>
</tr>
<tr>
<td align="center"><code>10DE:1E87</code></td>
<td align="center"><code>1458:37B2</code></td>
<td align="left">Gigabyte AORUS RTX2080 8G</td>
</tr>
<tr>
<td align="center"><code>10DE:1E87</code></td>
<td align="center"><code>1458:37B1</code></td>
<td align="left">Gigabyte AORUS RTX2080 XTREME 8G</td>
</tr>
<tr>
<td align="center"><code>10DE:1E81</code></td>
<td align="center"><code>1458:3FF3</code></td>
<td align="left">Gigabyte AORUS RTX2080 SUPER 8G</td>
</tr>
<tr>
<td align="center"><code>10DE:1E81</code></td>
<td align="center"><code>1458:3FF4</code></td>
<td align="left">Gigabyte AORUS RTX2080 SUPER 8G Rev 1.0</td>
</tr>
<tr>
<td align="center"><code>10DE:1E81</code></td>
<td align="center"><code>1458:4003</code></td>
<td align="left">Gigabyte AORUS RTX2080 SUPER Waterforce WB 8G</td>
</tr>
<tr>
<td align="center"><code>10DE:1E07</code></td>
<td align="center"><code>1458:37BC</code></td>
<td align="left">Gigabyte AORUS RTX2080 Ti XTREME 11G</td>
</tr>
<tr>
<td align="center"><code>10DE:2504</code></td>
<td align="center"><code>1458:407B</code></td>
<td align="left">Gigabyte AORUS RTX3060 ELITE 12G</td>
</tr>
<tr>
<td align="center"><code>10DE:2489</code></td>
<td align="center"><code>1458:4076</code></td>
<td align="left">Gigabyte AORUS RTX3060 Ti ELITE 8G LHR</td>
</tr>
<tr>
<td align="center"><code>10DE:2489</code></td>
<td align="center"><code>1458:405A</code></td>
<td align="left">Gigabyte RTX3060 Ti GAMING OC LHR 8G</td>
</tr>
<tr>
<td align="center"><code>10DE:2486</code></td>
<td align="center"><code>1458:405E</code></td>
<td align="left">Gigabyte RTX3060 Ti GAMING OC PRO 8G</td>
</tr>
<tr>
<td align="center"><code>10DE:2489</code></td>
<td align="center"><code>1458:405E</code></td>
<td align="left">Gigabyte RTX3060 Ti Gaming OC PRO 8G LHR</td>
</tr>
<tr>
<td align="center"><code>10DE:2484</code></td>
<td align="center"><code>1458:4069</code></td>
<td align="left">Gigabyte RTX3070 MASTER 8G</td>
</tr>
<tr>
<td align="center"><code>10DE:2488</code></td>
<td align="center"><code>1458:4069</code></td>
<td align="left">Gigabyte RTX3070 MASTER 8G LHR</td>
</tr>
<tr>
<td align="center"><code>10DE:2482</code></td>
<td align="center"><code>1458:408E</code></td>
<td align="left">Gigabyte AORUS RTX3070 Ti MASTER 8G</td>
</tr>
<tr>
<td align="center"><code>10DE:2206</code></td>
<td align="center"><code>1458:4038</code></td>
<td align="left">Gigabyte AORUS RTX3080 XTREME WATERFORCE WB 10G</td>
</tr>
<tr>
<td align="center"><code>10DE:2216</code></td>
<td align="center"><code>1458:4038</code></td>
<td align="left">Gigabyte AORUS RTX3080 XTREME WATERFORCE WB 10G</td>
</tr>
<tr>
<td align="center"><code>10DE:2216</code></td>
<td align="center"><code>1458:4037</code></td>
<td align="left">Gigabyte AORUS RTX3080 XTREME WATERFORCE 10G Rev 2.0</td>
</tr>
<tr>
<td align="center"><code>10DE:2208</code></td>
<td align="center"><code>1458:4087</code></td>
<td align="left">Gigabyte RTX3080 Ti Vision OC 12G</td>
</tr>
<tr>
<td align="center"><code>10DE:2208</code></td>
<td align="center"><code>1458:4083</code></td>
<td align="left">Gigabyte AORUS RTX3080 Ti XTREME WATERFORCE 12G</td>
</tr>
<tr>
<td align="center"><code>10DE:2204</code></td>
<td align="center"><code>1458:4039</code></td>
<td align="left">Gigabyte AORUS RTX3090 XTREME WATERFORCE 24G</td>
</tr>
<tr>
<td align="center"><code>10DE:2204</code></td>
<td align="center"><code>1458:403A</code></td>
<td align="left">Gigabyte AORUS RTX3090 XTREME WATERFORCE WB 24G</td>
</tr>
</tbody></table>
