<head> <title>OpenRGB Supported Devices</title><meta charset="utf-8"/><meta name="description" content="Open source RGB lighting control that doesn't depend on manufacturer software"/><!--OpenGraph Tags--><meta property="og:image" content="../../../static/favicon/og-image.jpg"/><meta property="og:image:width" content="211"/><meta property="og:image:height" content="211"/><meta property="og:description" content="Open source RGB lighting control that doesn't depend on manufacturer software"/><meta property="og:title" content="OpenRGB"/><meta property="og:url" content="https://openrgb.org"/><!-- Favicon--><link rel="apple-touch-icon" sizes="180x180" href="../../../static/favicon/apple-touch-icon.png"/><link rel="icon" type="image/png" sizes="32x32" href="../../../static/favicon/favicon-32x32.png"/><link rel="icon" type="image/png" sizes="16x16" href="../../../static/favicon/favicon-16x16.png"/><link rel="manifest" href="../../../static/favicon/site.webmanifest"/><link rel="mask-icon" href="../../../static/favicon/safari-pinned-tab.svg" color="#00d084"/><link rel="shortcut icon" href="../../../static/favicon/favicon.ico"/><meta name="msapplication-TileColor" content="#00d084"/><meta name="msapplication-config" content="../../../static/favicon/browserconfig.xml"/><meta name="theme-color" content="#00d084"/><link rel="stylesheet" href="../../css/devices.styl"/><script src="../../../node_modules/jquery/dist/jquery.min.js"></script><script src="../../js/controller.js"></script></head><h1 id="intel-arc-a770-limited-edition">Intel Arc A770 Limited Edition</h1>
<h2 id="connection-type">Connection Type</h2>
<p> USB</p>
<h2 id="saving">Saving</h2>
<p> Not currently supported by OpenRGB</p>
<h2 id="direct-mode">Direct Mode</h2>
<p> Direct control is supported for Software Effects</p>
<h2 id="hardware-effects">Hardware Effects</h2>
<p> Hardware effects are not fully implemented by controller (See device page for details)</p>
<h2 id="device-list">Device List</h2>
<table>
<thead>
<tr>
<th align="center">Vendor &amp;<br/>Device ID</th>
<th align="center">Sub-Vendor &amp;<br/>Product ID</th>
<th align="left">Device Name</th>
</tr>
</thead>
<tbody><tr>
<td align="center"><code>2516</code></td>
<td align="center"><code>01B5</code></td>
<td align="left">Intel Arc A770 Limited Edition</td>
</tr>
</tbody></table>
