<head> <title>OpenRGB Supported Devices</title><meta charset="utf-8"/><meta name="description" content="Open source RGB lighting control that doesn't depend on manufacturer software"/><!--OpenGraph Tags--><meta property="og:image" content="../../../static/favicon/og-image.jpg"/><meta property="og:image:width" content="211"/><meta property="og:image:height" content="211"/><meta property="og:description" content="Open source RGB lighting control that doesn't depend on manufacturer software"/><meta property="og:title" content="OpenRGB"/><meta property="og:url" content="https://openrgb.org"/><!-- Favicon--><link rel="apple-touch-icon" sizes="180x180" href="../../../static/favicon/apple-touch-icon.png"/><link rel="icon" type="image/png" sizes="32x32" href="../../../static/favicon/favicon-32x32.png"/><link rel="icon" type="image/png" sizes="16x16" href="../../../static/favicon/favicon-16x16.png"/><link rel="manifest" href="../../../static/favicon/site.webmanifest"/><link rel="mask-icon" href="../../../static/favicon/safari-pinned-tab.svg" color="#00d084"/><link rel="shortcut icon" href="../../../static/favicon/favicon.ico"/><meta name="msapplication-TileColor" content="#00d084"/><meta name="msapplication-config" content="../../../static/favicon/browserconfig.xml"/><meta name="theme-color" content="#00d084"/><link rel="stylesheet" href="../../css/devices.styl"/><script src="../../../node_modules/jquery/dist/jquery.min.js"></script><script src="../../js/controller.js"></script></head><h1 id="pny-gpu">PNY GPU</h1>
<h2 id="connection-type">Connection Type</h2>
<p> I2C</p>
<h2 id="saving">Saving</h2>
<p> Not supported by controller</p>
<h2 id="direct-mode">Direct Mode</h2>
<p> Direct control is supported for Software Effects</p>
<h2 id="hardware-effects">Hardware Effects</h2>
<p> Hardware effects are supported</p>
<h2 id="device-list">Device List</h2>
<table>
<thead>
<tr>
<th align="center">Vendor &amp;<br/>Device ID</th>
<th align="center">Sub-Vendor &amp;<br/>Product ID</th>
<th align="left">Device Name</th>
</tr>
</thead>
<tbody><tr>
<td align="center"><code>10DE:2206</code></td>
<td align="center"><code>196E:136B</code></td>
<td align="left">PNY XLR8 Revel EPIC-X RTX 3080</td>
</tr>
<tr>
<td align="center"><code>10DE:2204</code></td>
<td align="center"><code>196E:136A</code></td>
<td align="left">PNY XLR8 Revel EPIC-X RTX 3090</td>
</tr>
<tr>
<td align="center"><code>10DE:1E89</code></td>
<td align="center"><code>196E:1363</code></td>
<td align="left">PNY XLR8 OC EDITION RTX 2060</td>
</tr>
<tr>
<td align="center"><code>10DE:2503</code></td>
<td align="center"><code>1569:2503</code></td>
<td align="left">Palit 3060</td>
</tr>
<tr>
<td align="center"><code>10DE:2504</code></td>
<td align="center"><code>1569:2504</code></td>
<td align="left">Palit 3060 LHR</td>
</tr>
<tr>
<td align="center"><code>10DE:2486</code></td>
<td align="center"><code>1569:2486</code></td>
<td align="left">Palit 3060Ti</td>
</tr>
<tr>
<td align="center"><code>10DE:2489</code></td>
<td align="center"><code>1569:2489</code></td>
<td align="left">Palit 3060TI LHR</td>
</tr>
<tr>
<td align="center"><code>10DE:2484</code></td>
<td align="center"><code>1569:2484</code></td>
<td align="left">Palit 3070</td>
</tr>
<tr>
<td align="center"><code>10DE:2488</code></td>
<td align="center"><code>1569:2488</code></td>
<td align="left">Palit 3070 LHR</td>
</tr>
<tr>
<td align="center"><code>10DE:2482</code></td>
<td align="center"><code>1569:2482</code></td>
<td align="left">Palit 3070Ti GamingPro</td>
</tr>
<tr>
<td align="center"><code>10DE:2482</code></td>
<td align="center"><code>1569:F278</code></td>
<td align="left">Palit 3070Ti</td>
</tr>
<tr>
<td align="center"><code>10DE:2206</code></td>
<td align="center"><code>1569:2206</code></td>
<td align="left">Palit 3080</td>
</tr>
<tr>
<td align="center"><code>10DE:2216</code></td>
<td align="center"><code>1569:2216</code></td>
<td align="left">Palit 3080 LHR</td>
</tr>
<tr>
<td align="center"><code>10DE:2208</code></td>
<td align="center"><code>1569:2208</code></td>
<td align="left">Palit 3080Ti</td>
</tr>
<tr>
<td align="center"><code>10DE:2208</code></td>
<td align="center"><code>1569:F278</code></td>
<td align="left">Palit 3080Ti Gamerock</td>
</tr>
<tr>
<td align="center"><code>10DE:2204</code></td>
<td align="center"><code>1569:2204</code></td>
<td align="left">Palit 3090</td>
</tr>
<tr>
<td align="center"><code>10DE:2486</code></td>
<td align="center"><code>10DE:2486</code></td>
<td align="left">Palit GeForce RTX 3060 Ti Dual</td>
</tr>
<tr>
<td align="center"><code>10DE:1E81</code></td>
<td align="center"><code>10DE:1E81</code></td>
<td align="left">NVIDIA RTX2080S</td>
</tr>
<tr>
<td align="center"><code>10DE:1F08</code></td>
<td align="center"><code>10DE:1F08</code></td>
<td align="left">NVIDIA RTX2060S</td>
</tr>
</tbody></table>
